.nav ul{
    list-style: none;
    display: flex;
    gap: 30px;

    justify-content: center;
}

.nav a{
    text-decoration: none;
    padding: 5px 10px;
}


/* scss */
.nav a:hover,
.nav a.active{
    text-decoration: underline; 
    background-color: antiquewhite;
}